{% extends  'index.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-md-center">
        <div class="col-sm-5">
            <form action="/create_tks" method="POST">
                <div class="mb-3">
                    <label for="InputAC" class="form-label">Название АС: </label>
                    <input type="text" class="form-control" id="InputAC" name="AC"
                           placeholder="Example AC" value="Example AC" required>
                    <div id="ACHelp" class="form-text">Введите название АС.</div>
                </div>
                <div class="mb-3" id="add_moder">
                    <label for="emailModer" class="form-label">Модераторы:</label>
                    <input type="email" class="form-control email" id="emailModer" name="moder"
                           aria-describedby="emailHelp"
                           placeholder="name@example.com" value="name@qwerr.qwer.ru" required>
                    <div id="emailHelp" class="form-text">Введите email внутренней почты</div>
                </div>
                <button id="btn" type="submit" class="btn btn-primary mt-1"> Создать ТКС
                </button>
                <a id="addModer" type="submit" class="btn btn-secondary mt-1"> Добавить модератора
                </a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
