<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='bootstrap-4.6.2/css/bootstrap.css')}}" rel="stylesheet">
    <title>Create TKS</title>
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar">
        <div class="container">
            <div class="row justify-content-center"><p><p/>
                <div/>
            </div>
        </div>
    </nav>
</head>
<body>
<div class="container mt-5">
    <div class="row justify-content-md-center">
        <div class="col-6">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='bootstrap-4.6.2/js/bootstrap.bundle.min.js')}}"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<!--<script src="{{ url_for('static', filename='bootstrap-4.6.2/js/popper.min.js')}}"></script>-->
<script src="{{ url_for('static', filename='bootstrap-4.6.2/js/bootstrap.min.js')}}"></script>
<script src="{{ url_for('static', filename='bootstrap-4.6.2/js/jquery.js')}}"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>