{% extends 'index.html' %}
{% block content %}
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Отличная работа!</h4>
        <p>Созданы ТКС:
        <p>X - {{ ac }}..<br/>
            X - {{ ac }} (Внедрения)<br/>
            X - {{ ac }} (Тестовая среда)<br/>
        <p/>
        <p class="mb-0">Способ подключения:<br/>
            С внутреннего: 8-XXX-XXXX <br/>
            С мобильного/городского: 8-800-XXX-XXXX или <br/>
            +7(XXX)XXX-XXXX <br/>
            +7(XXX)XXX-XXX <br/>
            ID мероприятия: XXX# или XXXXX#
        </p>
        <hr>
        {% for i in moderators %}
            Модератор: {{ i }} добавлен!!<br/>
        {% endfor %}
    </div>
    <div class="d-grid gap-2 col-12 mx-auto">
        <a id="btn_back" type="submit" class="btn btn-secondary mt-1" href="/"> На главную </a>
    </div>
    <script>
        console.log('{{ ac }}')
        console.log('{{ moderators }}')
    </script>
{% endblock %}

