{% extends 'index.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-md-center">
        <div class="col-6">
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Отличная работа!</h4>
                <p>Созданы ТКС:
                <p> XXX - {{ ac }}..<br/>
                    XXXXX - {{ ac }} (Внедрения)<br/>
                    XXXXX - {{ ac }} (Тестовая среда)<br/>
                <p/>
                <p class="mb-0">Способ подключения:<br/>
                    С внутреннего: 8-XXX-XXXX <br/>
                    С мобильного/городского: X-XXX-XXX-XXXX или <br/>
                    +X(XXX)XXX-XXXX <br/>
                    +X(XXX)XXX-XXX <br/>
                    ID мероприятия: XXX# или XXXXX#
                </p>
                <hr>
                {% for i in moderators %}
                Модератор: {{ i }} добавлен!!<br/>
                {% endfor %}
            </div>
            <div class="d-grid gap-2 col-12 mx-auto">
                <a id="btn_back" type="submit" class="btn btn-secondary mt-1" href="/"> На главную </a>
            </div>
            <script>
        console.log('{{ ac }}')
        console.log('{{ moderators }}')

            </script>
        </div>
    </div>
</div>
{% endblock %}

